SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080

DB_NAME=finance_manager_dev
DB_PORT=5432
DB_URL=jdbc:postgresql://localhost:5432/finance_manager_dev
DB_USERNAME=postgres
DB_PASSWORD=
POSTGRES_AUTH_METHOD=trust

FINANCE_MANAGER_TEST_DB_URL=jdbc:h2:mem:finance_manager_test;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;DB_CLOSE_DELAY=-1
FINANCE_MANAGER_TEST_DB_USERNAME=sa
FINANCE_MANAGER_TEST_DB_PASSWORD=
