SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080

DB_NAME=finance_manager_dev
DB_PORT=5433
DB_URL=jdbc:postgresql://localhost:5433/finance_manager_dev
DB_USERNAME=postgres
DB_PASSWORD=change_me_locally

FINANCE_MANAGER_TEST_DB_URL=jdbc:postgresql://localhost:5432/finance_manager_test
FINANCE_MANAGER_TEST_DB_USERNAME=finance_manager_test
FINANCE_MANAGER_TEST_DB_PASSWORD=finance_manager_test

JWT_ISSUER=finance-manager-api
JWT_EXPIRATION_SECONDS=3600
JWT_SECRET=your_jwt_secret_key_here
